<p id="notice"><%= notice %></p>

<div class="container" id="user_show_container">

	<div class="row">

		<div class="col-md-4">

			<img src="http://images1.wikia.nocookie.net/__cb20120325155245/simpsons/images/2/28/200px-Orville_Simpson.png" alt="..." class="img-circle" id="profile_picture">


  		<h1>Hi, <%= @user.username %></h1>

  		<p>
  			<h1>About</h1>
  			<%= @user.about %>
			</p>

			<% if @user = current_user %>

				<button class='mainButtons'><%= link_to "Start A New Story", new_user_story_path(current_user.id), class: 'newStoryButton' %></button>

				<button class='mainButtons' id='editUserButton'>Edit</button>

				<div class="editUser">
					<%= render 'form' %>
				</div>

			<% end %>

		</div>

		<div class="col-md-8">

			<h2><%= @user.username %>'s stories</h2>

			<% @centers.each do |center|%>

			 <div style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('http://maps.googleapis.com/maps/api/staticmap?center=<%=center[0]%>,<%=center[1]%>&zoom=13&scale=1&size=200x200&maptype=roadmap&format=png&visual_refresh=true')" class="user_stories"><%=link_to center[2], story_path(center[3]), class: 'user_stories_link' %></div>

			<% end %>

		</div>

	</div>

</div>

<% content_for :javascript do %>
  <script type='text/javascript'>
  	
  	var toggleOption = {
    	direction: 'up'
  	};

  	Vicarious.initialized = false;

  	$('.editUser').hide();

  	$('#editUserButton').click(function () {
  		$('.signUpLogo').hide();
  		$('.editUser').toggle("drop", toggleOption, 500);
  	});
    
  </script>

<% end %>






