<p id="notice"><%= notice %></p>

<p>
  <h1>Username:</h1>
  <%= @user.username %>
</p>

<p>
  <h1>About:</h1>
  <%= @user.about %>
</p>

<p>
	<h1>Stories:</h1>
<% @stories.each do |story|%>
	<p><%= story.title %> </p>
<% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
