

<% @all_parsed_posts.each do |post| %> 

	<div class="Post" data-lat="<%= post[2] %>" 
		data-lng="<%= post[3] %>" data-pitch="<%= post[4] %>" 
		data-heading="<%= post[5] %>" data-title="<%= post[0]%>" data-body="<%=post[1]%>"
		data-username="<%=post[6]%>" data-userId="<%=post[7]%>">
		<!--  -->
	</div>



<% end %>



<div class="container-fluid" id='aboutLander'>

	<div class="row">

		<div class="col-md-2">
			

		</div>

		<div class="col-md-8">
			
			<div class="landerColumns">Hey. Welcome to Vicarious. An interactive travel blog</div>	

			<img src="http://maps.googleapis.com/maps/api/staticmap?center=Paris,+France&zoom=13&scale=false&size=200x200&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7CParis,+France&markers=size:mid%7Ccolor:0xff0000%7Clabel:2%7CParis,+France,+6tharr&markers=size:mid%7Ccolor:0xff0000%7Clabel:3%7CParis,+France+3rd+arr&style=element:labels|visibility:off&style=element:geometry.stroke|visibility:off&style=feature:landscape|element:geometry|saturation:-100&style=feature:water|saturation:-100|invert_lightness:true" class="img-circle" id="landing_picture1">

			<div>Powered by <img src="http://vignette4.wikia.nocookie.net/smurfs/images/5/5c/Google_logo.png/revision/latest?cb=20150906130319">
			</div>

		</div>

		<div class="col-md-2">

		</div>

	</div>

</div>


<!-- THE MAP -->

	<div id="pano-container" class='container'>

		<div id="pano">

			<div id="map-container" class='row'>

				<div id="map" class='col-md-2'>

				</div>

				<div class='col-md-10'>

				</div>

			</div>

		</div>

	</div>