<!-- <h1> <%=@story.title %> </h1> -->



<p id="story_id"><%= @story.id %></p>
<p id="find_user_id"><%=@story.user_id%></p>
<p id="find_username"><%=@user.username%></p>

<% @all_parsed_posts.each do |post| %> 

	<div class="Post" data-lat="<%= post[2] %>" 
		data-lng="<%= post[3] %>" data-pitch="<%= post[4] %>" 
		data-heading="<%= post[5] %>" data-title="<%= post[0]%>" data-body="<%=post[1]%>" 
		data-username="<%=post[6]%>" data-userId="<%=post[7]%>">
	</div>

<% end %>


<!-- THE MAP -->

<% if current_user and current_user == @user %>

	<div id="locationFinder">
		<input type="text" id='addressField' placeholder='Where you do you want go?'>
		<button id="locationSearch" class='locationButtons' onclick="Vicarious.search()">submit</button>
		<button id='unToggleGeo' class='locationButtons' onclick="Vicarious.cancelSearch()">cancel</button>
	</div>

	<button class='mainButtons' id="toggleGeo">New Location</button>
	<button class='mainButtons' id="toggelPostForm">Make New Post</button>
	<button class='mainButtons' id='delete_button'><%= link_to 'delete story', @story, method: :delete, class: 'delete_story' %></button>
	
	<div id="post-form">
		<input type="text" id='titleField' placeholder="title (optional)"><br>
		<textarea rows='100' id='textBox' placeholder="What happened here?"></textarea><br>
		<button id="submit-post" class='postButtons' onclick="Vicarious.makePost()">submit</button>
	  <button id='cancel-post' class='postButtons' onclick="Vicarious.cancelPost()">cancel</button>
	</div>

	<!-- <div class="delete_story">
		
	</div> -->

<% end %>
	
	<div id="pano-container" class='container'>

		<div id="pano">

			<div id="map-container" class='row'>

				<div id="map" class='col-md-5'>

				</div>

				<div class='col-md-7'>

					

				</div>

			</div>

		</div>

	</div>

























