<!-- <h1> <%=@story.title %> </h1> -->



<p id="story_id"><%= @story.id %></p>

<% @all_parsed_posts.each do |post| %> 

	<div class="Post" data-lat="<%= post[2] %>" 
		data-lng="<%= post[3] %>" data-pitch="<%= post[4] %>" 
		data-heading="<%= post[5] %>" data-title="<%= post[0]%>" data-body="<%=post[1]%>" 
		data-username="<%=post[6]%>" data-userId="<%=post[7]%>">
	</div>

<% end %>


<!-- THE MAP -->

<% if current_user and current_user == @user %>

	<div id="locationFinder">
		<input type="text" id='addressField'>
	</div>

	<button id="toggleGeo">Search</button>
	<button id="toggelPostForm">Make post</button>
	
	<div id="post-form">
		<input type="text" id='titleField' placeholder="title"><br>
		<input type="textarea" id='textBox' placeholder="What happened here?"><br>
	  <button id='cancel-post'>cancel</button>
	</div>

	<div class="delete_story">
		<button id='delete_button'><%= link_to 'delete', @story, method: :delete %></button>
	</div>

<% end %>
	
	<div id="pano-container" class='container'>

		<div id="pano">

			<div id="map-container" class='row'>

				<div id="map" class='col-md-5'>

				</div>

				<div class='col-md-7'>

					

				</div>

			</div>

		</div>

	</div>

























