<h1> <%=@story.title %> </h1>

<p id="story_id"><%= @story.id %></p>

<% @all_parsed_posts.each do |post| %> 

	<div class="Post" data-lat="<%= post[2] %>" 
		data-lng="<%= post[3] %>" data-pitch="<%= post[4] %>" 
		data-heading="<%= post[5] %>" data-title="<%= post[0]%>" data-body="<%=post[1]%>">
		<!--  -->
	</div>

<% end %>

<h1>I'm the map I'm the map I'm the map I'm the map I'm the map I'm the map. I'm the map.</h1>


<!-- THE MAP -->
<div id="map-container">
	<div id="map">
	</div>
	<div id="pano">
	</div>
</div>

<div id="post-form">
  <input type="text" id='titleField'><br>
  <input type="text" id='textBox'><br>
  <input type="submit" id='submit-post'>
  <button id='cancel-post'>cancel</button>
</div>

<div>
	<input type="text" id='addressField'>
	<button type="text" id="submitAddress" onclick="Vicarious.search()">search for address</button>
</div>