<% @posts.each do |post| %>
	<p>Post # <%= post.id %> by <%= post.story.user.username %> from the story "<%=  post.story.title %>" </p>
<% end %>

<h1>I'm the map I'm the map I'm the map I'm the map I'm the map I'm the map. I'm the map.</h1>


<!-- THE MAP -->
<div id="map-container">
	<div id="map">
	</div>
	<div id="pano">
	</div>
</div>

<div id="post-form">
  <input type="text" id='titleField'><br>
  <input type="text" id='textBox'><br>
  <input type="submit" id='submit-post'>
  <button id='cancel-post'>cancel</button>
</div>

<div class="posties">

<h1>Listing Stories</h1>
<% @contents.each do |content|%>
	<h1 id='title'><%= content[0] %> </h1>
	<p id='body'><%= content[1] %></p>
	<p id='lat'><%= content[2] %></p>
	<p id='lng'><%= content[3] %></p>
	<p id='pitch'><%= content[4] %></p>
	<p id='heading'><%= content[5] %></p>
<% end %>


</div>