<!DOCTYPE html>
<html>
<head>
  <title>Vicarious</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


  <%= csrf_meta_tags %>
  
</head>
<body>

	<header>

		<nav class="navbar navbar-default">
		  <div class="container-fluid">

		    <!-- Brand and toggle get grouped for better mobile display -->

		    <div class="navbar-header">

		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>

		      </button>

		      <a class="navbar-brand" href="/allstories" id="brand"><img src="http://www.clker.com/cliparts/W/z/k/U/R/w/white-and-black-globe-hi.png" id="brand_img" width="40px"> <p class="brand_text">V I C A R I O U S</p> </a>

		    </div>

			    <ul class="nav navbar-nav navbar-right" id="nav_right">

	      		<ul class="nav nav-pills">
	      			<% if current_user != nil %>
								<li role="presentation" class="active" id="toggleNewStory"><%= link_to "Start A New Story", new_user_story_path(current_user.id) %></li>
								<li role="presentation" class="active"><%=link_to "Profile", user_path(current_user.id) %></li>
								<li role="presentation" class="active"><%=link_to "Log Out", logout_path, method: :delete %></li>
							<% end %>
						</ul>

		      </ul>

		  </div>
		</nav>
	</header>



<%= yield %>

<%= yield :javascript %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJ_TZroUvL0JtPjeFKkeBL0VHrvFgcW_k&callback=Vicarious.init"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
</body>
</html>
